<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Graphs</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div class="container">

		<div class="row">
			<div class="col-md-12"><h2 class="text-center">Yelp reviews of a Chinese restaurant</h2></div>
		</div>


		<div class="row">

		<div class="col-md-6">
		<h4 class="text-center">Graph 1. Positive reviews (star rating more than 4)</h4>
		<img src="{{ url_for('static',filename='review_good.png') }}" class="img-responsive" alt="Figure 1"/>  
		</div>

		<div class="col-md-6">
		<h4 class="text-center">Graph 2. Negative reviews (star rating less than 3)</h4>
		<img src="{{ url_for('static',filename='review_bad.png') }}" class="img-responsive" alt="Figure 2"/>
		</div>

		</div>

	</body>
</html>
